.sapMSinglePCNowMarker{
    visibility: hidden;
}
.sapMSinglePCRowHeaderHidden {
    visibility: visible!important;
}
.sapMSinglePCColumnWeekend{
    background-color: rgb(240, 240, 240) !important;
}
.sapUiRespGridSpanXL5 .sapUiRespGridSpanL5 .sapUiRespGridSpanM5 .sapUiRespGridSpanS12{
    visibility: hidden;
}
.sapMCbHasLabel{
    display: none!important;
}
.sapMInputBaseHeightMargin .sapMInputBaseHasEndIcons{
    display: none!important;
}
#__label0{
    margin-top: 2%!important;
    position: relative;
    padding-bottom: 1%;
}
#__label1{  
    margin-top: 1%!important;
    position: relative;
}
#__label2{
    z-index: 1!important;
    margin-top: 1%!important;
    position: relative;
}
#dialogFrag--DTPStartDate{
    margin-top: 2%;
    position: relative;
}
#dialogFrag--DTPEndDate{
    margin-top: 2%;
    position: relative;
}
.sapMSinglePCBlockersColumn{
    border-bottom-width: 0.050rem!important;
}
.sapMSinglePCColumnToday .sapMSinglePCRow::before{
    border: none!important;
}
.sapMSinglePCPlaceholder{
    border: none!important;
}
.sapUiCalItemNow{
    border-radius: 5px;
}
.sapUiCalItem .sapUiCalItemNow{
    color: red!important;
}
.sapUiCalItem>.sapUiCalWDay>.sapUiCalItemNow{
    color: red!important;
}
.sapMSegBBtnInner{
    border: hidden!important;
}
#dialogFrag--appTitle-content{
    position: absolute;
}
#popoverFrag--appTitle-popover{
    width: 350px!important;
}
#__container1--Grid{
text-align-last: center;
}
#__xmlview0--formID{
	display: block;
    margin-left: 35%;
    margin-right: 35%;
	margin-top: 10%;
	width: 30%!important;
	border-radius: 10px;
	box-shadow: -5px 10px 10px 10px #888888;
}
.kullaniciLabel{
	margin-left: 35%;
	/* color: red!important; */
	font-size: 17px!important;
}
.sifreLabel{
	margin-left: 40%;
	font-size: 17px!important;
	padding: 5px;
}
.gButton{
	display: block;
	margin-left: 100px!important;
}

a.sapLogo {
	margin-left: 1rem;
}

.sapUiMedia-Std-Phone a.sapLogo,
.sap-phone a.sapLogo {
	display: none;
}

.aboutLink {
	vertical-align: bottom;
}

.aboutDialog .sapMMsgStrip .sapMFT {
    word-break: break-word;
}

.aboutDialog .sapMMsgStrip .sapMFT .sapMLnk {
    white-space: initial;
}

.rateButton.sapMBtn span {
	border-radius: 0;
}

.contextCheckBoxAlign.sapMCb {
	margin-left: -0.5rem;
	margin-top: -0.5rem;
}

.sapUiFeedbackDialogTextArea.sapMInputBaseWidthPadding {
	padding-top: 0;
}

/* Custom html wrapping Label */
.sapUiFeedbackDialogNoteLabel {
	white-space: pre-line;
}

pre.sapUiDocumentationAPICode,
.sapUiJSD pre {
	white-space: pre-wrap;
}

/* We remove margin for p tags in JsDoc when we are in the context of a table cell */
.sapUxAPObjectPageSection .sapMListTbl .sapUiJSD p {
	margin: 0;
}

.sapMListTbl .sapUiVlt .sapMText,
.sapMListTbl .sapUiVlt .sapMLabel {
	padding-top: 0.5rem;
	margin-left: -0.5rem;
}

.sapMListTbl .sapUiVlt .sapMHBox .sapMFlexItem:first-child {
	padding-right: .25rem;
}

#content {
	padding-left: 0;
}

.sapMBarChild.sapMSF.sdkHeaderSearchField {
	margin-right: 0;
}

.sapMBtn.sdkHeaderSearchButton {
	margin-left: 0;
}

.docuPage section {
	background-color: #fff;
}

html:not(.sapUiMedia-StdExt-Phone) .sapUiDocumentationFooter {
	height: 2.5rem;
}

.sapUiBlockLayoutSizeM:not(.sapUiBlockLayoutKeepFontSize) .sapUiDocumentationFooter > .sapUiBlockCellContent,
.sapUiBlockLayoutSizeL:not(.sapUiBlockLayoutKeepFontSize) .sapUiDocumentationFooter > .sapUiBlockCellContent,
.sapUiBlockLayoutSizeXL:not(.sapUiBlockLayoutKeepFontSize) .sapUiDocumentationFooter > .sapUiBlockCellContent {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

/* 'index by version' entry item */
.indexEntry {
	padding-top: 0.9rem;
	padding-left: 0.9rem;
	padding-right: 0.6rem;
	padding-bottom: 0.6rem;
}

.indexEntry .sapUiJSD > * {
	margin-top: 0.2rem;
}

.indexEntry a:first-child {
	font-weight: bold;
}


/* welcome page code editor */

.sapUiMedia-Std-Desktop .editorWrapper {
    display:flex;
}

.sapUiMedia-Std-Desktop .editorWrapper > div {
    flex-grow: 1;
}

.sapUiMedia-Std-Desktop .editorWrapper > div:first-child {
    margin-right: 1rem;
}

.sapUiMedia-Std-Tablet .editorWrapper > div:first-child,
.sapUiMedia-Std-Phone .editorWrapper > div:first-child{
    margin-bottom: 2rem;
}

.editorWrapper .editorSrcWindow,
.editorWrapper .editorOutputWindow {
    height: 285px;
}

.editorWrapper .editorOutputWindow {
    border: 1px solid #D2D2D2;
}

.editorWrapper .sapMTB.editorToolbar {
    height: 4rem;
}

.sapUiBlockLayout .welcomeBlock .sapUiBlockCellContent .sapMText {
    font-size: 0.875rem;
}

/************************************************* Custom control styles *********************************************/

/* Search */
.sapUiDocumentationSearch {
	display: flex;
	justify-content: flex-end;
}

.sapUiDocumentationSearch .sapMSF {
	width: auto;
	flex-grow: 1;

	max-width: 10%;
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: max-width;
	transition-timing-function: linear;
}

/* ActionButton */
.sapUiDemokit .sapMBtn.actionButton {
	padding-top: 0;
	height: 2.375rem;
}

.sapUiDemokit .sapMBtn.actionButton .sapMBtnInner {
	padding-left: 0.875rem;
	padding-right: 0.875rem;
	height: 2.375rem;
}

.sapUiDemokit .sapMBtn.actionButton .sapMBtnInner.sapMBtnIconFirst {
	padding-left: 2.1875rem;
}

.sapUiDemokit .sapMBtn.actionButton .sapMBtnContent,
.sapUiDemokit .sapMBtn.actionButton .sapMBtnIcon  {
	line-height: 2.375rem;
	font-size: 1.1rem;
}

.sapUiDemoKitFixedStrip {
	position: absolute;
	bottom: 0;
	z-index: 99;
	width: calc(100% - 2rem);
}

@media (min-width: 64rem) {
	.sapUiDemokit .sapMBtn.actionButton {
		padding-top: 0;
		height: 3.25rem;
	}

	.sapUiDemokit .sapMBtn.actionButton .sapMBtnInner {
		height: 3.250rem;
	}

	.sapUiDemokit .sapMBtn.actionButton .sapMBtnInner.sapMBtnIconFirst {
		padding-left: 2.5rem;
	}

	.sapUiDemokit .sapMBtn.actionButton .sapMBtnIcon {
		margin-left: 0.6rem;
		margin-right: 0.6rem;
	}

	.sapUiDemokit .sapMBtn.actionButton .sapMBtnContent,
	.sapUiDemokit .sapMBtn.actionButton .sapMBtnIcon {
		line-height: 3.25rem;
		font-size: 1.375rem;
	}
}

/* TitleLink */
.sapUiDemokit .sapUiDocTitleLink a {
	font-size: inherit;
}

.sapUiDemokit .sapUiDocTitleLink.wrap a {
	text-overflow: inherit;
	white-space: inherit;
}
.sapUiDemokit .sapUiDocTitleLink.wrap {
	white-space: normal;
	text-overflow: inherit;
}

/********************************************* Header navigation on phone *********************************************/
.sapUiMedia-Std-Phone .sapTntToolHeader .sapMSlt.sapUiDocumentationSelect,
.sap-phone .sapTntToolHeader .sapMSlt.sapUiDocumentationSelect {
	height: 3rem;
}

.sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect,
.sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect .sapMSltArrow {
	border:none;
	background: #2f3c48;
}

/* Menu Select`s bakground on HCB */
.sapUiTheme-sap_belize_hcb .sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect,
.sapUiTheme-sap_belize_hcb .sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect .sapMSltLabel,
.sapUiTheme-sap_belize_hcb .sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect .sapMSltArrow {
	background: #000;
}

/* Menu Select`s bakground on HCW */
.sapUiTheme-sap_belize_hcw .sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect,
.sapUiTheme-sap_belize_hcw .sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect .sapMSltLabel,
.sapUiTheme-sap_belize_hcw .sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect .sapMSltArrow {
	background: #fff;
}

/* Menu Select`s hover bakground */
.sapContrast.sapUiDocumentationSelect.sapMSltHoverable:not(.sapMSltState):not(.sapMSltIconOnly):hover,
.sapContrast .sapUiDocumentationSelect.sapMSltHoverable:not(.sapMSltState):not(.sapMSltIconOnly):hover {
	background: #2f3c48;
}

/* Menu Select`s color on HCB */
.sapUiTheme-sap_belize_hcb .sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect .sapMSltLabel {
	color: #fff;
}
/* Menu Select`s color on HCW */
.sapUiTheme-sap_belize_hcw .sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect .sapMSltLabel {
	color: #000;
}

/* Menu Select`s focus */
html.sap-desktop .sapContrast .sapMSlt.sapUiDocumentationSelect:not(.sapMSltExpanded):not(.sapMSltDisabled):not(.sapMSltState):focus,
html.sap-desktop .sapContrast.sapMSlt.sapUiDocumentationSelect:not(.sapMSltExpanded):not(.sapMSltDisabled):not(.sapMSltState):focus {
	outline: none;
}

.sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect .sapMSltLabel,
.sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect .sapMSltArrow {
	line-height: 2.7rem;
}

/* Menu Select`s label */
.sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect .sapMSltLabel {
	color: #91c8f6;
	font-size: 1rem;
	border-bottom: 0.1625rem solid;
	width: auto;
}

.sapUiTheme-sap_belize_hcb .sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect .sapMSltLabel,
.sapUiTheme-sap_belize_hcw .sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect .sapMSltLabel {
	border-bottom: 0.1875rem solid;
}

/* Menu Select`s arrow color on press */
.sapTntToolHeader .sapMSlt.sapMSltPressed > .sapMSltArrow::before {
	color: #cae4fb;
}
.sapUiTheme-sap_belize_hcb .sapTntToolHeader .sapMSlt.sapMSltPressed > .sapMSltArrow::before {
	color: #fff;
}
.sapUiTheme-sap_belize_hcw .sapTntToolHeader .sapMSlt.sapMSltPressed > .sapMSltArrow::before {
	color: #000;
}

/********************************************* Documentation page styles *********************************************/
.hidden {
	display: none;
}

#d4h5-main-container {
	padding: 0 2rem;
}

#d4h5-main-container .p {
	box-sizing: border-box;
	color: #333;
	margin: 1.25rem 0;
	font-size: .875rem;
	line-height: 1.375rem;
	orphans: 2;
	padding: 0;
	widows: 2;
	word-wrap: break-word;
}

#d4h5-main-container .content-body p {
	line-height: 1.5rem;
	padding: 0;
}

#d4h5-main-container aside,
#d4h5-main-container div.note,
#d4h5-main-container pre.codeblock,
#d4h5-main-container blockquote,
#d4h5-main-container div.syntax {
	background-color: #f0f0f0;
	border-left: 1.75rem solid #008fd3;
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
	padding-left: 1rem;
	padding-bottom: 1rem;
	border-top: 0;
	border-bottom: 0;
	border-right: 0;
	display: block;
	box-sizing: border-box;
	font-size: .875rem;
	margin: 1.25rem 0;
	word-wrap: break-word;
}

#d4h5-main-container aside > p:first-of-type {
	margin-bottom: 0;
}

#d4h5-main-container aside > p:last-of-type {
	margin-top: 0;
}

#d4h5-main-container div.caution,
#d4h5-main-container aside.caution,
#d4h5-main-container aside.restriction {
	border-left: 1.75rem solid #e35500;
}

#d4h5-main-container aside .title,
#d4h5-main-container div.note .cautiontitle,
#d4h5-main-container .syntaxtitle,
#d4h5-main-container .notetitle {
	color: #bbb;
	font-size: 1.25rem;
	line-height: 1.875rem;
	margin: .375rem 0 .375rem -2.75rem;
	display: block;
	padding-left: 1.75rem;
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 2.5rem;
	font-weight: 300;
	color: #000;
}

#d4h5-main-container .restriction .title:before,
#d4h5-main-container .caution .cautiontitle:before,
#d4h5-main-container .note.caution .title:before,
#d4h5-main-container .note .title:before,
#d4h5-main-container .notetitle:before,
#d4h5-main-container .recommendation .title:before,
#d4h5-main-container .remember .title:before,
#d4h5-main-container .tip .title:before,
#d4h5-main-container .tiptitle:before,
#d4h5-main-container .samplecode .title:before,
#d4h5-main-container .codesyntax .title:before,
#d4h5-main-container .syntaxtitle .title:before,
#d4h5-main-container .outputcodeblock .title:before,
#d4h5-main-container .sourcecodeblock .title:before,
#d4h5-main-container .example .title:before {
	font-family: sap-icons;
	color: #fff;
	font-size: 1.375rem;
}

#d4h5-main-container .restriction .title:before {
	content: '\e094';
	margin-left: -1.75rem;
	margin-right: 1.3125em;
}

#d4h5-main-container .caution .cautiontitle:before,
#d4h5-main-container .note.caution .title:before {
	content: '\e201';
	margin-left: -2.3125rem;
	margin-right: 1.125rem;
}

#d4h5-main-container .note .title:before,
#d4h5-main-container .notetitle:before,
#d4h5-main-container .recommendation .title:before {
	content: '\e05c';
	margin-left: -1.75rem;
	margin-right: 1.3125em;
}

#d4h5-main-container .remember .title:before,
#d4h5-main-container .tip .title:before,
#d4h5-main-container .tiptitle:before {
	content: '\e0e3';
	margin-left: -2.3125rem;
	margin-right: 1.125rem;
}

#d4h5-main-container .samplecode .title:before,
#d4h5-main-container .codesyntax .title:before,
#d4h5-main-container .syntaxtitle .title:before,
#d4h5-main-container .outputcodeblock .title:before,
#d4h5-main-container .sourcecodeblock .title:before {
	content: '\e139';
	margin-left: -2.3125rem;
	margin-right: 1.125rem;
}

#d4h5-main-container .example .title:before {
	content: '\e16d';
	margin-left: -2.3125rem;
	margin-right: 1.125rem;
}

#d4h5-main-container a,
#d4h5-main-container a:visited {
	color: #008fd3;
	cursor: pointer;
	text-decoration: none;
}

#d4h5-main-container h2 {
	break-after: avoid;
	break-inside: avoid;
	font-weight: 600;
	color: #4a4a4a;
	font-size: 1.25rem;
	line-height: 1.25rem;
	margin: 2.125rem 0 1.25rem 0;
	word-wrap: break-word;
}

#d4h5-main-container em,
#d4h5-main-container span.uicontrol,
#d4h5-main-container span.uinolabel,
#d4h5-main-container .emphasis,
#d4h5-main-container strong {
	font-weight: 600;
}

#d4h5-main-container span.uicontrol,
#d4h5-main-container span.uinolabel {
	color: #314971;
}

code, kbd, pre, samp {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

#d4h5-main-container pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	display: block;
	padding: .625rem;
	margin: 0 0 .625rem;
	font-size: .8125rem;
	line-height: 1.125rem;
	color: #333;
	word-break: break-all;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: .25rem;
}

#d4h5-main-container pre.codeblock {
	border-radius: .125rem;
	padding: .625rem;
	font-family: "Courier New", Courier, monospace;
	overflow: auto;
	line-height: 1.25rem;
	color: #333;
	word-break: break-all;
}

#d4h5-main-container aside pre.codeblock,
#d4h5-main-container div.note pre.codeblock,
#d4h5-main-container div.syntax pre {
	border-left: 0;
	padding: 0;
}

#d4h5-main-container table {
	border: 0;
	border-collapse: collapse;
	display: block;
	width: 100%;
	margin: 1.25rem 0;
	text-align: left;
	font-size: .75rem;
	table-layout: fixed;
	border-spacing: 0;
}

#d4h5-main-container .tablecap {
	color: #666;
	page-break-after: avoid;
	page-break-inside: avoid;
	white-space: nowrap;
	font-size: .625rem;
	font-weight: 300 !important;
	margin-left: .125rem;
}

#d4h5-main-container th {
	border: none;
	border-bottom: 1px solid #999;
	border-collapse: collapse;
	font-weight: 300 !important;
	color: #181818;
	letter-spacing: -1px;
	font-size: 1.25rem;
	line-height: 1.75rem;
	padding: 1rem 1rem .5rem 0;
}

#d4h5-main-container th .p {
	margin: 0;
	font-size: 1rem;
}

#d4h5-main-container td {
	border: none;
	border-bottom: 1px solid #999;
	border-collapse: collapse;
	padding: 1rem .75rem 1rem 0;
	font-size: 1rem;
	vertical-align: top;
	text-align: left;
	line-height: 1.75rem;
}

#d4h5-main-container td p:first-child {
	margin-top: 0;
}

#d4h5-main-container td p:last-child {
	margin-bottom: 0;
}

#d4h5-main-container td .p {
	font-size: .8125rem;
}

#d4h5-main-container span.figcap {
	font-size: .5625rem;
}

#d4h5-main-container ol,
#d4h5-main-container ul {
	margin-top: 0;
	margin-bottom: .625rem;
}

#d4h5-main-container li {
	font-size: .875rem;
	line-height: 1.375rem;
	margin: .625rem;
}

#d4h5-main-container kbd {
	background: none;
	color: #333;
	box-shadow: none;
	font-size: .875rem;
	line-height: 1.25rem;
	padding: .125rem .25rem;
}

#d4h5-main-container img {
	max-width: 100%;
}

/******************************************************* FONTS *******************************************************/

/* Replaces the search icon with a filter icon */
.sapUiDocumentationFilterField .sapMSFS:after {
	content: "\e076";
}

/* sap.m.List does not always take up 100% height (the containing page's background is modified instead) */
.sapUiTheme-sap_belize .sapUiDocumentationMasterPage {
	background: #3b4c5b;
}
.sapUiTheme-sap_belize_plus .sapUiDocumentationMasterPage {
	background: #3b4c5b;
}

/* Topics - dynamic page */
.sapUiDocumentationTopicTitle {
	font-size: 1.375rem !important;
}

html.sap-phone .sapUiDocumentationTopicTitle {
	font-size: 1.25rem !important;
}

.sapUiDocumentationDynamicPageTitle .sapFDynamicPageTitleLeft {
	width: 80% !important;
}
.sapUiDocumentationDynamicPageTitle .sapFDynamicPageTitleRight {
	width: 20% !important;
}

.sapUiDocumentation2ColumnsEqualTable {
	margin-top: 20px;
}

.sapUiDocumentationBorrowedTitle {
	font-size: 1.25rem !important;
}

.sapUiBody#content {
	padding-left: 0; /* overrides the padding of documentation */
}

#CompactModeLabel, #RTLLabel {
	padding-top: 1rem;
}

.sapUiSizeCompact #CompactModeLabel, .sapUiSizeCompact #RTLLabel {
	padding-top: 0.5rem;
}

html[dir="rtl"] #CompactModeButtons, html[dir="rtl"] #RTLButtons {
	float: left;
	left: 0.125rem;
}

#CompactModeButtons, #RTLButtons {
	float: right;
	left: -0.125rem;
}

/* Public, For Samples */

.sapUiExploredWarning {
	padding : 1rem;
	color : red;
	border: 1px red solid;
	background : white;
	display: block;	/* because of the margin */
}

.sapUiExploredInfo {
	display: block;
	background: #f2f8fc;
	border: 1px solid #ddd;
	margin : 2rem 0.25rem 0.25rem 0.25rem;
	padding : 0.5rem 1rem;
	color: #666;
	line-height: 1rem;
}

.sapUiExploredNoMarginInfo {
	display: block;
	background: #f2f8fc;
	border: 1px solid #ddd;
	padding : 0.5rem 1rem;
	color: #666;
	line-height: 1rem;
}

.sapUiExploredNoMarginInfo:before,
.sapUiExploredInfo:before {
	display: inline-block;
	font-family: "SAP-icons";
	vertical-align: middle;
	font-size: 1rem;
	content:"\e047";
	color: #666666;
	width: 1.5rem;
}

/* explored entity view */

.sapMOH[data-deprecated^="true"] .sapMText.sapMOHTitle {
	text-decoration: line-through;
}

.sapUiDocLightTable .entitySampleName.sapMText  {
	font-weight: bold;
}
.sapUiDocLightTable .docuKey.sapMText  {
	font-style: italic;
}
.sapUiDocLightTable .docuKey.sapMText[data-deprecated^="true"]  {
	text-decoration: line-through;
}
.sapUiDocLightTable .docuParam.sapMText  {
	font-style: italic;
}
/* explored code view */

pre {
	margin-top: 0;
}
code {
	font-family: Consolas, Courier, monospace;
	font-size: 0.875rem;
}

.nameTitle {
	font-weight: bold;
}

#sampleFrame {
	width : 100%;
	height : 100%;
}

/* util */

.sapUiJSD {
	font-size: 0.875rem;
	display: inline;
}

.aboutDialog .sapUiJSD {
    display: inline-block;
}

.sapUiJSD a {
	font-family: "72", Arial, Helvetica, sans-serif;
}

.sapUiJSD pre {
	white-space: pre-wrap;
}

.sapUiJSD > p {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

.sapUiJSD > p:first-child {
	margin-top: 0.5rem;
}

.sapUiJSD > p:last-child {
	margin-bottom: 0.5rem;
}

.sapUiDocumentationHeaderNavLinks {
	min-width: 100%;
}

.sapUiDocumentationHeaderNavLinks .sapMLnk {
	line-height: 1.25rem;
	margin-left: 0.25rem;
}

.sapUiDocumentationHeaderNavLinks .sapMText,
.sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem .sapUiDocumentationHeaderNavLinks .sapMText {
	line-height: 1.25rem;
	margin-left: 0.25rem;
	color: #666666;
}

.sapUiDocumentationHeaderNavLinks .sapMLabel {
	line-height: 1.25rem;
}

.sapUiDocumentationHeaderNavLinks .sapMFlexItem:nth-child(2) {
	min-width: 1px !important;
}

.sapUiDocumentationAnnotationsText .sapMLnk {
	margin-left: 0.25rem;
}

.sapUiDocumentationAnnotationsText .sapMLabel {
	margin-right: 0.25rem;
}

.titlesSpace {
	background-image: url(stars.png);
	width: 100%;
	height: 100%;
}

.titlesSpaceViewport {
	-webkit-perspective: 50rem;
	-webkit-perspective-origin: center 20rem;
	perspective: 50rem;
	perspective-origin: center 20rem;
	width: 100%;
	height: 37.5rem;
	overflow: hidden;
}

.titlesNotFound {
	position: absolute;
	margin: 5rem;
	color: rgb(74,214,236);
	text-align: center;
	font-size: 1.2rem;
}

.titlesIntro {
	position: absolute;
	top: 10rem;
	left: 5rem;
	opacity: 0;
	color: rgb(74,214,236);
	font-size: 1.25em;
	font-weight: normal;
	-webkit-animation: intro 6s linear 13s 1;
	-moz-animation: intro 6s linear 13s 1;
	animation: intro 6s linear 13s 1;
}

.titlesHeader {
	position: absolute;
	top: 0rem;
	left: 50%;
	margin-left: -2em;
	width: 4.0em;
	opacity: 0;
	color: #000000;
	font-size: 20em;
	text-align: center;
	line-height: 0.1em;
	letter-spacing: -0.05em;
	text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
	z-index: 1;
	-webkit-animation: header 7s cubic-bezier(0.000, 0.730, 0.750, 0.750) 20s 1 normal forwards;
	-moz-animation: header 7s cubic-bezier(0.000, 0.730, 0.750, 0.750) 20s 1 normal forwards;
	animation: header 7s cubic-bezier(0.000, 0.730, 0.750, 0.750) 20s 1 normal forwards;
}

.titlesHeader sub {
	margin-top: 1em;
	display: block;
	font-size: 0.4em;
	letter-spacing: 0;
	line-height: 0.8em;
}

.titlesHeader p {
	display: none;
}

.titlesText {
	position: absolute;
	margin: 0 7em 0 7em;
	color: #ff6;
	text-align: center;
	font-size: 1.6em;
	font-weight: bold;
	opacity: 0;
	-webkit-animation: text 120s linear 11s 1 normal forwards;
	-moz-animation: text 120s linear 11s 1 normal forwards;
	animation: text 120s linear 11s 1 normal forwards;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.titlesText p {
	text-align: justify;
	margin: 0.3em 0;
}

.titlesText p.caption {
	text-align: center;
	text-transform: uppercase;
}

@-webkit-keyframes intro {
	0% { opacity:0; }
	25% { opacity:1; }
	75% { opacity:1; }
	100% { opacity:0; }
}
@-moz-keyframes intro {
	0% { opacity:0; }
	25% { opacity:1; }
	75% { opacity:1; }
	100% { opacity:0; }
}
@keyframes intro {
	0% { opacity:0; }
	25% { opacity:1; }
	75% { opacity:1; }
	100% { opacity:0; }
}

@-webkit-keyframes header {
	0% { -webkit-transform: scale(1); opacity: 1; }
	100% { -webkit-transform: scale(0.0); opacity: 1; }
}
@-moz-keyframes header {
	0% { -moz-transform: scale(1); opacity: 1; }
	100% { -moz-transform: scale(0.0); opacity: 1; }
}
@keyframes header {
	0% { transform: scale(1); opacity: 1; }
	100% { transform: scale(0.0); opacity: 1; }
}

@-webkit-keyframes text {
	0% { -webkit-transform: rotateX(70deg) translateZ(200px) translateY(1100px); opacity:1; }
	40% { -webkit-transform: rotateX(70deg) translateZ(200px) translateY(-340px); opacity:1; }
	80% { -webkit-transform: rotateX(70deg) translateZ(200px) translateY(-1780px); opacity:1; }
	100% { -webkit-transform: rotateX(70deg) translateZ(200px) translateY(-2500px); opacity:0; }
}
@-moz-keyframes text {
	0% { -moz-transform: rotateX(70deg) translateZ(200px) translateY(1100px); opacity:1; }
	40% { -moz-transform: rotateX(70deg) translateZ(200px) translateY(-340px); opacity:1; }
	80% { -moz-transform: rotateX(70deg) translateZ(200px) translateY(-1780px); opacity:1; }
	100% { -moz-transform: rotateX(70deg) translateZ(200px) translateY(-2500px); opacity:0; }
}
@keyframes text {
	0% { transform: rotateX(70deg) translateZ(200px) translateY(1100px); opacity:1; }
	40% { transform: rotateX(70deg) translateZ(200px) translateY(-340px); opacity:1; }
	80% { transform: rotateX(70deg) translateZ(200px) translateY(-1780px); opacity:1; }
	100% { transform: rotateX(70deg) translateZ(200px) translateY(-2500px); opacity:0; }
}

.ui-controls-section, .meet-the-library, .samples-section, .theme-designer, .icon-section, .footer-class {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.meet-the-library h2, .samples-section h2, .theme-designer h2, .icon-section h2 {
	margin-top: 0;
	padding-top: 2rem;
}
.ui-controls-section h1 {
	padding-top: 5rem;
}

/* ==========================================================================
   "UI5 Controls" section styles
  ========================================================================== */

.ui-controls-section {
	text-align: center;
	height: 40rem;
	background-color: #394958;
	background-image: linear-gradient(#394958, #7E9EBA);
}

.ui-controls-section h1 {
	color: #009de0;
	font-size: 2rem;
	margin-top: 0;
}

.ui-controls-section h2{
	display: block;
	font-size: 2rem;
	font-weight: bold;
	color: #fff;
}

/* ==========================================================================
   "Meet the Library" sections styles
  ========================================================================== */

.meet-the-library {
	background-color: #f7f7f7;
	padding: 1rem;
	box-sizing: border-box;
}

.meet-the-library h2 {
	text-align: center;
}

.meet-the-library > div {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.meet-the-library--subheader {
	width: 100%;
	margin-bottom: 3rem;
}

.controls-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.controls-list ul {
	list-style: none;
	padding-left: 0;
}

/* "Most Popular" styles
  ========================================================================== */

.most-popular > p {
	text-align: left;
	text-transform: uppercase;
	font-size: 0.75rem;
	margin: 0;
}

/* "Controls" styles
  ========================================================================== */

.all-controls.controls-list {
	justify-content: flex-start;
}

.all-controls ul {
	padding-right: 3rem;
}

.all-controls li:first-child {
	font-size: 0.75rem;
	text-transform: uppercase;
}

/* ==========================================================================
   "Sample the Samples" sections styles
  ========================================================================== */

.samples-section {
	background-color: #fff;
}

.samples-section h2 {
	text-align: center;
}

.sample-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.sample-container img {
	background-color: #ddeef1;
	border: 0.5rem solid #fff;
	border-radius: 7rem;
	box-shadow: 0 0.5rem 1.75rem 0 rgba(0, 0, 0, 0.2);
}

/* ==========================================================================
   "Theme Designer" sections styles
  ========================================================================== */

.theme-designer {
	background-image: url("http://www.mrwallpaper.com/wallpapers/gradient-background-1440x900.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 30rem;
}

.theme-designer h2, .theme-designer  p, .theme-designer--button-container {
	text-align: center;
}


/* ==========================================================================
   "Cool Icons" sections styles
  ========================================================================== */

.icon-section {
	background-image: url("http://cdn1.bestpsdfreebies.com/wp-content/uploads/2014/06/Icon_back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	height: 30rem;
}

.icon-section h2, .icon-section > p {
	text-align: center;
}

.icon-section__search-field {
	text-align: center;
}

/* ==========================================================================
   Footer sections styles
  ========================================================================== */

.footer-class {
	display: flex;
	flex-wrap: wrap;
	background-color: #354a5f;
	padding: 2rem 10rem;
	box-sizing: border-box;
}

.footer-class__logo {
	flex-grow: 3;
}

.footer-class section {
	flex-grow: 11;
}


/* ==========================================================================
   Layout fixes
  ========================================================================== */

/* fix to remove the 5px space below title images */
.sapUiDemokit .sapUiDemokitLandingImageCell {
	line-height: 0;
}

/* removes unneccessary whitespace for the headlines */
.sapUiDemokit .sapUiBlockLayoutSizeL .sapUiDemokitLandingBlockHeadline .sapUiBlockCellContent {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.sapUiDemokit .sapUiBlockLayoutSizeXL .sapUiDemokitLandingBlockHeadline .sapUiBlockCellContent {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

/* fixes an issue with the sap.m.Link control in a horizontal layout (BCP #1770222127)*/
.sapUiDemokit .sapUiDemokitLayoutLink {
	vertical-align: baseline;
}

/* there is no property yet to align the content for block layout cells */
.sapUiDemokit .sapUiBlockCenteredCell .sapUiBlockCellContent {
	text-align: center;
}

/* remove white shadow for header bars */
.sapUiDemokit .sapMSplitContainerMaster .sapMIBar.sapMSubHeader-CTX,
.sapUiDemokit .sapMSplitContainerMaster .sapMIBar.sapMHeader-CTX {
	box-shadow: none;
}

/* correct split container right border */
html.sapUiTheme-sap_belize .sapUiDemokit .sapUiDocumentationSplitApp > .sapMSplitContainerMaster,
html.sapUiTheme-sap_belize_plus .sapUiDemokit .sapUiDocumentationSplitApp > .sapMSplitContainerMaster {
	border-right: 1px solid #4f667a;
}

html.sapUiTheme-sap_belize_hcb .sapUiDemokit .sapMSplitContainerMaster,
html.sapUiTheme-sap_belize_hcw .sapUiDemokit .sapMSplitContainerMaster {
	border-right: none;
}

html.sapUiTheme-sap_belize_hcb .sapUiDemokit .sapMSplitContainerMaster::before,
html.sapUiTheme-sap_belize_hcw .sapUiDemokit .sapMSplitContainerMaster::before {
	height: 100%;
}

/* control overflow for community links in horizontal layout */
.sapUiDemokit .communityLinkCell .sapUiHLayout {
	max-width: 100%;
}

/* fixes "or" text misalignment in vertical layout used in table cell */
.sapUiDemokit .sapUiDocLightTable .sapUiVlt .sapMText.sapUiDocumentationOrText {
	padding: 0;
	margin: 0;
}

.sapUiDemokit .communityLinkCell .sapUiHLayoutChildWrapper:nth-child(2) {
	width: calc(100% - 3.0rem);
}

html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .demokitInitialPageColorPatternA {
	background-color: #ffffff;
}

html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .demokitInitialPagesColorPatternB {
	background-color: #eff4f9;
}

html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .demokitInitialPagesColorPatternBContrast {
	background-color: #3F5161;
}

html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .demokitInitialPagesColorPatternC {
	background-color: #d5e2ef;
}

html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .demokitInitialPagesColorPatternD {
	background-color: #cadbeb;
}

html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .demokitInitialPagesColorPatternE {
	background-color: #bbd0e6;
}

html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .sapUiBlockLayout .sapUiBlockLayoutRow.sapUiBlockHorizontalCellsRow .sapUiBlockLayoutCell.demokitInitialPagesColorPatternFContrast {
	background-color: #354a5f;
}

html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .demokitInitialPagesWhiteText {
	color: #fff;
	text-shadow: none;
}

html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .demokitInitialPagesWhiteText .sapMLnk {
	color: #fff;
}

html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .demokitInitialPagesWhiteText .sapMLnk:hover:not(.sapMLnkDsbl) {
	color: #7ed0ff;
}

html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .demokitInitialPagesBrightIcon {
	color: #CAE4FB;
}

html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .demokitInitialPagesBrightLink.sapMLnk,
html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .demokitInitialPagesBrightLink.sapMLnk:hover {
	color: #d1e8ff;
}

.demokitInitialPagesBrightLinkSmallerText {
	font-size: 0.8rem;
}

.demokitInitialPagesBigImageContainer .sapUiBlockCellContent{
	padding: 2rem
}

/* define large cell height for s,m,l */
.sapUiDemokit :not(.sapUiBlockLayoutSizeS) .largeCell {
	min-height: 13rem;
}

.sapUiDemokit .sapUiBlockLayout.sapUiBlockLayoutSizeM .largeCell {
	min-height: 10rem;
}

.sapUiDemokit .sapUiBlockLayout.sapUiBlockLayoutSizeS .largeCell {
	min-height: 7rem;
}

html.sap-phone .sapMITHOverflowList.tabHeaderNoLeftMargin .sapMITBScrollContainer {
	margin-left: 0;
}

/* shrink image to 200px height on landscape phone mode */
.phoneHeaderImageLandscape {
	object-fit: cover;
}

html.sapUiTheme-sap_belize_hcb .sapUiJSD p,
html.sapUiTheme-sap_belize_hcb .sapUiJSD a {
	color: #ffffff;
}

html.sapUiTheme-sap_belize_hcw .sapUiJSD p,
html.sapUiTheme-sap_belize_hcw .sapUiJSD a {
	color: #000000;
}

html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .sapUiJSD a {
	color: #0070b1;
}

html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .sapUiJSD a,
html.sapUiTheme-sap_belize_hcb .sapUiJSD a:hover,
html.sapUiTheme-sap_belize_hcw .sapUiJSD a:hover {
	text-decoration: none;
}

html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .sapUiJSD a:hover {
	text-decoration: underline;
}

html.sapUiTheme-sap_belize_hcb .sapUiJSD a:focus {
	outline: 0.125rem dotted #ffffff;
}

html.sapUiTheme-sap_belize_hcw .sapUiJSD a:focus {
	outline: 0.125rem dotted #000000;
}

html:not(.sapUiTheme-sap_belize_hcw):not(.sapUiTheme-sap_belize_hcb) .sapUiJSD a:focus {
	outline: 0.0625rem dotted #000000;
}

/* ==========================================================================
   Landing Page Header styles
  ========================================================================== */

/* basic setup of the welcome page landing image, center vertically and horizontally above image */
.sapUiDemokit .sapMText.welcomeImageTextHeadline {
	font-size: 3rem;
	color: #fff;
	text-shadow: 0 0 0.125rem #000;
}

.sapUiDemokit .welcomeImageCell {
	position:relative;
}

.sapUiDemokit .sapUiHomePage .headlineCell {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
    border-bottom: none;
    border-top: none;
}

.sapUiMedia-Std-Tablet .sapUiDemokit .sapUiHomePage .headlineCell,
.sapUiMedia-Std-Phone .sapUiDemokit .sapUiHomePage .headlineCell {
	padding-top: 1.625rem;
	padding-bottom: 1.625rem;
}

.sapUiMedia-Std-Tablet .sapUiDemokit .sapUiHomePage .headlineCell .sapMTitleStyleH1,
.sapUiMedia-Std-Phone .sapUiDemokit .sapUiHomePage .headlineCell .sapMTitleStyleH1 {
	font-size: 1.25rem;
}

/*MEDIUM*/
.sapUiDemokit .welcomeImageTextLayout {
	position:absolute;
	top: 70%;
	left:0;
	margin-top: -7rem;
}

.sapUiDemokit .welcomeImageTextLayout .sapUiVltCell {
	text-align: center;
}

.sapUiDemokit .sapMText.welcomeImageTextHeadline {
	font-weight: bold;
	margin-bottom: 1.5rem;
}

/*SMALL*/
@media (max-width: 64rem) {
	.sapUiDemokit .welcomeImage {
		object-fit: cover;
	}

	.sapUiDemokit .welcomeImageTextLayout {
		margin-top: -5.5rem;
	}

	.sapUiDemokit .sapMText.welcomeImageTextHeadline {
		font-size: 1.625rem;
		margin-bottom: 0.5rem;
	}

	.sapUiDemokit .welcomeImageTextLayout {
		margin-top: -5rem;
	}

	.sap-phone .sapUiDemokit .welcomeImageTextLayout {
		margin-top: -4.5rem;
	}
}

/*SMALL PHONE */
@media (max-width: 32rem) {
	.sap-phone .sapUiDemokit .welcomeImageTextLayout {
		margin-top: -6rem;
	}
}

/*XTRA LARGE*/
@media (min-width: 90rem) {
	.sapUiDemokit .sapMText.welcomeImageTextHeadline {
		font-size: 4rem;
		margin-bottom: 2rem;
	}

	.sapUiDemokit .welcomeImageTextLayout {
		margin-top: -10rem;
	}
}

/* ==========================================================================
   Documentation Page Header styles
  ========================================================================== */

.sapUiDemokit .sapUiVlt.sapUiDocumentationDocumentationHeading {
	position: absolute;
	padding-left: 2rem;
	left: 0;
	top: 2.5rem;
	margin-left: -0.2rem;
}

.sapUiDemokit .sapUiVlt.sapUiDocumentationDocumentationHeading .sapMText {
	font-size: 3rem;
	color: #fff;
	text-shadow: 0 0 0.125rem #000;
}

.sapUiDemokit .sapUiVlt.sapUiDocumentationDocumentationHeading .sapMBtn {
	margin-top: 1rem;
}

/*SMALL*/
@media (max-width: 64rem) {
	.sapUiDemokit .sapUiVlt.sapUiDocumentationDocumentationHeading {
		top: 1.25rem;
		padding-left: 1rem;
		margin-left: -0.0625rem;
	}

	.sapUiDemokit .sapUiVlt.sapUiDocumentationDocumentationHeading .sapMText {
		font-size: 1.625rem;
	}

	.sapUiDemokit .sapUiVlt.sapUiDocumentationDocumentationHeading .sapMBtn {
		margin-top: 0.5rem;
	}
}

/*XTRA LARGE*/
@media (min-width: 90rem) {
	.sapUiDemokit .sapUiVlt.sapUiDocumentationDocumentationHeading {
		top: 2.5rem;
		padding-left: 3rem;
	}

	.sapUiDemokit .sapUiVlt.sapUiDocumentationDocumentationHeading .sapMText {
		font-size: 4rem;
	}

	.sapUiDemokit .sapUiVlt.sapUiDocumentationDocumentationHeading .sapMBtn {
		margin-top: 1rem;
	}
}

/* ==========================================================================
   Explored Page Header styles
  ========================================================================== */
.sapUiDemokit .sapMText.sapUiDocumentationExploredHeaderText {
	position: absolute;
	padding-left: 2rem;
	left: 0;
	color: #ffffff;
	text-shadow: 0 0 0.125rem #000000;
}

.sapUiDemokit .sapMText.sapUiDocumentationExploredHeaderTitleText {
	top: 2.5rem;
	font-size: 3rem;
	margin-left: -0.2rem;
}

.sapUiDemokit .sapMText.sapUiDocumentationExploredSubText {
	top: 6.25rem;
	font-size: 1.25rem;
	font-weight: normal;
}

/*SMALL*/
@media (max-width: 64rem) {
	.sapUiDemokit .sapMText.sapUiDocumentationExploredHeaderTitleText {
		top: 1.25rem;
		font-size: 1.625rem;
		padding-left: 1rem;
		margin-left: -0.0625rem;
	}

	.sapUiDemokit .sapMText.sapUiDocumentationExploredSubText {
		top: 3.125rem;
		font-size: 0.875rem;
		padding-left: 1rem;
	}
}

/*XTRA LARGE*/
@media (min-width: 90rem) {
	.sapUiDemokit .sapMText.sapUiDocumentationExploredHeaderTitleText {
		top: 2.5rem;
		font-size: 4rem;
		padding-left: 3rem;
	}

	.sapUiDemokit .sapMText.sapUiDocumentationExploredSubText {
		top: 6.875rem;
		font-size: 2rem;
		padding-left: 3rem;
	}
}

/* ==========================================================================
   API Page Header styles
  ========================================================================== */
.sapUiDemokit .sapMText.sapUiDocumentationApiHeaderText {
	position: absolute;
	padding-left: 2rem;
	left: 0;
	color: #ffffff;
	text-shadow: 0 0 0.125rem #000000;
}

.sapUiDemokit .sapUiBlockCellContent .sapMText.sapUiDocumentationApiHeaderTitleText {
	top: 2.5rem;
	font-size: 3rem;
	margin-left: -0.2rem;
}

.sapUiDemokit .sapMText.sapUiDocumentationApiHeaderSubText {
	top: 6.25rem;
	font-size: 1.25rem;
	font-weight: normal;
}

/*SMALL*/
@media (max-width: 64rem) {
	.sapUiDemokit  .sapUiBlockCellContent .sapMText.sapUiDocumentationApiHeaderTitleText {
		top: 1.25rem;
		font-size: 1.625rem;
		padding-left: 1rem;
		margin-left: -0.0625rem;
	}

	.sapUiDemokit .sapMText.sapUiDocumentationApiHeaderSubText {
		top: 3.125rem;
		font-size: 0.875rem;
		padding-left: 1rem;
	}
}

/*XTRA LARGE*/
@media (min-width: 90rem) {
	.sapUiDemokit  .sapUiBlockCellContent .sapMText.sapUiDocumentationApiHeaderTitleText {
		top: 2.5rem;
		font-size: 4rem;
		padding-left: 3rem;
	}

	.sapUiDemokit .sapMText.sapUiDocumentationApiHeaderSubText {
		top: 6.875rem;
		font-size: 2rem;
		padding-left: 3rem;
	}
}

/* ==========================================================================
   DemoApps Page styles
  ========================================================================== */

/* override header cell background color for non-accessibility themes */
html:not(.sapUiTheme-sap_belize_hcb):not(.sapUiTheme-sap_belize_hcw) .sapUiDemoApps .headlineCell {
	background-color: white !important;
}

/* override default styles for panel headers */
.sapUiDemokit .sapUiDemoApps .headlineCell {
	padding-top: 2rem;
	padding-bottom: 2rem;
    padding-left: 2.65rem;
    border-bottom: none;
    border-top: none;
}

.sapUiMedia-Std-Tablet .sapUiDemokit .sapUiDemoApps .headlineCell {
	padding-top: 1.625rem;
	padding-bottom: 1.625rem;
	padding-left: 1.625rem;
}

.sapUiMedia-Std-Phone .sapUiDemokit .sapUiDemoApps .headlineCell {
	padding-top: 1.625rem;
	padding-bottom: 1.625rem;
	padding-left: 0.625rem;
}

.sapUiMedia-Std-Tablet .sapUiDemokit .sapUiDemoApps .headlineCell .sapMTitleStyleH1,
.sapUiMedia-Std-Phone .sapUiDemokit .sapUiDemoApps .headlineCell .sapMTitleStyleH1 {
	font-size: 1.25rem;
}

/* fix to remove the 5px space below title images */
.sapUiDemokit .sapUiDemokitLandingImageCell {
	line-height: 0;
}

.headerGrid {
	position: absolute;
	top: 2rem;
	padding-left: 2rem;
	width: calc(100% - 4rem);
}

.sapMBtn.headerButton {
	margin-top: 2rem;
}

/* shrink image to 200px height on landscape phone mode */
.phoneHeaderImageLandscape {
	object-fit: cover;
}

.phoneHeaderImageDesktop {
	object-fit: cover;
}

.desktopImage {
	min-height: 9.375rem;
	object-fit: cover;
}

.sapMText.headerText {
	width: 100%;
	padding-top: 0.5rem;
	font-size: 3rem;
	margin-left: -0.2rem;
	color: #ffffff;
	text-shadow: 0 0 0.125rem #000000;
}

.headerSubText {
	width: 100%;
	font-size: 1.25rem;
	font-weight: normal;
	color: #ffffff;
	text-shadow: 0 0 0.125rem #000000;
}

/*SMALL*/

@media (max-width: 1024px) {
	.sapMBtn.headerButton {
		margin-top: 1rem;
	}
	.headerGrid {
		top: 1.25rem;
		padding-left: 1rem;
		width: calc(100% - 2rem);
	}
	.sapMText.headerText {
		font-size: 1.25rem;
		margin-left: -0.0625rem;
	}
	.headerSubText {
		font-size: 0.875rem;
	}
}


/*XTRA LARGE*/

@media (min-width: 1440px) {
	.headerGrid {
		padding-left: 3rem;
		width: calc(100% - 6rem);
	}
	.sapMText.headerText {
		font-size: 4rem;
	}
	.headerSubText {
		font-size: 2rem;
	}
	.sapMBtn.headerButton {
		margin-top: 2rem;
	}
}

/* ==========================================================================
   Tools Page Header styles
  ========================================================================== */
.sapUiDemokit .sapMText.sapUiDocumentationToolsHeaderText {
	top: 2.5rem;
	left: 0;
	font-size: 3rem !important;
	margin-left: -0.2rem;
	position: absolute;
	padding-left: 2rem;
	color: #ffffff;
	text-shadow: 0 0 0.125rem #000000;
}

/*SMALL*/
@media (max-width: 64rem) {
	.sapUiDemokit .sapMText.sapUiDocumentationToolsHeaderText {
		top: 1.25rem;
		font-size: 1.625rem !important;
		padding-left: 1rem;
		margin-left: -0.0625rem;
	}
}

/*XTRA LARGE*/
@media (min-width: 90rem) {
	.sapUiDemokit .sapMText.sapUiDocumentationToolsHeaderText {
		top: 2.5rem;
		font-size: 4rem !important;
		padding-left: 3rem;
	}
}

.sapUiDemokit .sapMText.demokitInitialPagesBlueText {
	color: #0070b1;
}

.sapUiDemokit .toolsPageVbox {
	width: 95%;
}

@media (min-width: 1600px) {
	.sapUiDemokit .toolsPageVbox {
		width: 50%;
	}
}

.sapUiDemokit .toolsPageImage {
	width: 350px;
	max-width: 100%;
}

/* FireFox does not handle aspect ratio optimization so this must be disabled for it only by resetting the element position */
html[data-sap-ui-browser^="ff"] .sapUiDemokit .landingImage {
	position: relative;
}

.sapUiDemokit .welcomeImage {
    height: 100%;
}

/* Special case with initial page having different aspect ratio according to screen size */
.sapUiDemokit .welcomeImageCell:before {
    content: '';
    display: block;
    float: left;
}

.sapUiDemokit .welcomeImageCell:after {
    content: '';
    display: block;
    clear: both;
}

@media (max-width: 64rem) {
	.sapUiDemokit .welcomeImageCell:before {
		/* Aspect ratio on a smaller display differs */
        padding-top: 34%;
	}
}

@media (max-width: 64rem) and (orientation: portrait) {
    .sapUiDemokit .welcomeImageCell:before {
		/* Aspect ratio on a landscape mode differs */
        padding-top: 40%;
	}
}

@media (min-width: 64rem) {
    .sapUiDemokit .welcomeImageCell:before {
		/* Keeping aspect ratio according to the image set */
        padding-top: 19.5%;
	}
}

/* FireFox does not handle aspect ratio optimization so this must be disabled for it only by resetting the element position */
html[data-sap-ui-browser^="ff"] .sapUiDemokit .welcomeImage {
	position: relative;
}

@font-face {
	font-family: 'FeedbackRatingFaces';
	src: url('../fonts/BusinessSuiteInAppSymbolsSmall.eot'),
	url('../fonts/BusinessSuiteInAppSymbolsSmall.ttf') format('truetype');
}

/* Make the iframe transparent so that the content in it will use the theme's background */
.sapUiDocumentationTopicsIframe {
	width: 100%;
	height: 99%;
}

/* Only for hcb set another color as the one provided by the theme is not suitable */
html.sapUiTheme-sap_belize_hcb .sapUiDocumentationTopicsIframe {
	background: #fff;
}

/* Prettified text looks bigger when viewed from mac, even if it has the same font size */
html[data-sap-ui-os="mac"] pre.prettyprint.prettyprinted {
	font-size: 0.8rem;
}

/*
 * API Detail page specific CSS improving readability
 * Note: Keep in mind this is applicable only for the sap_belize and sap_belize_plus themes
 */
.sapUiTheme-sap_belize .sapUiSizeCompact .apiDetailPage .sapUxAPObjectPageLayout-Std-Desktop .sapUxAPBlockContainer,
.sapUiTheme-sap_belize_plus .sapUiSizeCompact .apiDetailPage .sapUxAPObjectPageLayout-Std-Desktop .sapUxAPBlockContainer {
	padding: 0 3rem 2rem 3rem;
}

.sapUiTheme-sap_belize .sapUiSizeCompact .apiDetailPage .sapUxAPObjectPageLayout-Std-Tablet .sapUxAPBlockContainer,
.sapUiTheme-sap_belize_plus .sapUiSizeCompact .apiDetailPage .sapUxAPObjectPageLayout-Std-Tablet .sapUxAPBlockContainer {
	padding: 0 2rem 2rem 2rem;
}

.sapUiTheme-sap_belize .sapUiSizeCompact .apiDetailPage .sapUxAPObjectPageLayout-Std-Phone .sapUxAPBlockContainer,
.sapUiTheme-sap_belize_plus .sapUiSizeCompact .apiDetailPage .sapUxAPObjectPageLayout-Std-Phone .sapUxAPBlockContainer {
	padding: 0 1rem 2rem 1rem;
}

.sapUiTheme-sap_belize .apiDetailPage .sapUxAPObjectPageContainer,
.sapUiTheme-sap_belize_plus .apiDetailPage .sapUxAPObjectPageContainer {
	background-color: #f7f7f7;
}

.sapUiTheme-sap_belize .apiDetailPage .sapMListTbl,
.sapUiTheme-sap_belize_plus .apiDetailPage .sapMListTbl {
	border: 1px solid #e5e5e5;
}

.sapUiTheme-sap_belize .apiDetailPage .sapMListTbl th,
.sapUiTheme-sap_belize_plus .apiDetailPage .sapMListTbl th {
	background: #e5e5e5;
}

.sapUiTheme-sap_belize .apiDetailPage .sapMListTbl .sapMListTblCell,
.sapUiTheme-sap_belize_plus .apiDetailPage .sapMListTbl .sapMListTblCell {
	padding-top: 8px;
	padding-bottom: 8px;
}

.sapUiTheme-sap_belize .apiDetailPage .sapMListTbl .sapMObjStatus,
.sapUiTheme-sap_belize_plus .apiDetailPage .sapMListTbl .sapMObjStatus {
	min-width: 100px;
}

.sapUiTheme-sap_belize .apiDetailPage .sapCEd .ace_editor,
.sapUiTheme-sap_belize_plus .apiDetailPage .sapCEd .ace_editor {
	font-size: 14px;
	line-height: 28px;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
}

.sapUiTheme-sap_belize .apiDetailPage .sapMPanel.borrowedListPanel .sapMPanelContent,
.sapUiTheme-sap_belize_plus .apiDetailPage .sapMPanel.borrowedListPanel .sapMPanelContent {
	padding: 0;
}

.sapUiDocumentationSubclassesPopover {
	padding: 0.5rem;
	max-width: 1000px;
}
/*
 * End of API Detail specific CSS
 */

/* Comma list */
.sapUiDocumentationCommaList .sapMFlexItem:not(:first-child):not(:last-child)::after {
	content: ",";
	margin-right: 1px;
	line-height: 1.5rem;
}

.sapUiDocumentationCommaList > div {
	display: flex;
	flex-wrap: nowrap;
}

/* Or list */
.sapUiDocumentationOrList .sapUiVltCell:not(:last-child)::after {
	content: "or";
	margin-right: 5px;
	margin-left: 5px;
	vertical-align: top;
	font-size: 0.875rem;
}

/* Global search specific CSS to allow full entry title to be visible on phone */
.sap-phone .sapMList .sapMFeedListItemTextName .sapMLnk {
	white-space: pre-line;
}

/* Release notes */
.sapUiCustomTitleText {
	font-size: 0.875rem;
}
.sapUiCustomTitleText .sapMLnk {
	display: inline;
}

/*
 * Param Text custom control related CSS - Start
 */
.sapUiDocLightTable .sapUiParamText.sapUiDocumentationParamBold {
	font-weight: bold;
}

.sapUiDocLightTable .sapUiParamText.sapUiDocumentationParamPhone {
	font-weight: normal;
}

.sapUiParamText {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.875rem;
}

.sapUiParamText.sapMLnk.depth-0 {
	font-weight: normal;
}

.sapUiParamText .parameterDefault {
	font-weight: normal;
	padding-left: 0.3rem;
}

.sapUiParamText .deprecated {
	font-weight: normal;
	color: #bb0000;
}

.sapUiParamText .deprecated .deprecatedText {
	vertical-align: top;
	padding-left: 0.5rem;
}

.sapUiParamText .experimental {
	font-weight: normal;
	color: #e78c07;
}

.sapUiParamText .experimental .experimentalText {
	vertical-align: top;
	padding-left: 0.5rem;
}

html.sapUiMedia-Std-Phone .sapUiParamText,
.sapUiParamText.depth-0 {
	font-weight: bold;
}

/* 5 Depths are handled - if more than 5 levels should be displayed we should think of another approach */
html:not(.sapUiMedia-Std-Phone) .sapUiParamText.depth-1 {
	padding-left: 2rem;
}
html:not(.sapUiMedia-Std-Phone) .sapUiParamText.depth-2 {
	padding-left: 4rem;
}
html:not(.sapUiMedia-Std-Phone) .sapUiParamText.depth-3 {
	padding-left: 6rem;
}
html:not(.sapUiMedia-Std-Phone) .sapUiParamText.depth-4 {
	padding-left: 8rem;
}
html:not(.sapUiMedia-Std-Phone) .sapUiParamText.depth-5 {
	padding-left: 10rem;
}
/*
 * Param Text custom control related CSS - End
 */

/*
 * Start of DemokitLightTable CSS
 */

/* Structure */
.sapUiMedia-StdExt-Tablet .sapUiDocLightTable,
.sapUiMedia-StdExt-Phone .sapUiDocLightTable {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.sapUiMedia-StdExt-Tablet .sapUiDocLightTable .row,
.sapUiMedia-StdExt-Tablet .sapUiDocLightTable .head,
.sapUiMedia-StdExt-Phone .sapUiDocLightTable .row,
.sapUiMedia-StdExt-Phone .sapUiDocLightTable .head {
	display: flex;
	flex-flow: row wrap;
	flex: 1 100%;
	width: calc(100% - 10px);
}

/* 5 columns */
.sapUiMedia-StdExt-Tablet .sapUiDocLightTable.columns-5 .cell {
	flex: 2 0;
}
.sapUiMedia-StdExt-Tablet .sapUiDocLightTable.columns-5 .cell:nth-child(4),
.sapUiMedia-StdExt-Tablet .sapUiDocLightTable.columns-5 .cell:nth-child(3) {
	flex: 1.5 0;
}

/* 4 columns */
.sapUiMedia-StdExt-Tablet .sapUiDocLightTable.columns-4 .cell {
	flex: 2 0;
}
.sapUiMedia-StdExt-Tablet .sapUiDocLightTable.columns-4 .cell:nth-child(3) {
	flex: 1.5 0;
}

/* 3 columns */
.sapUiMedia-StdExt-Tablet .sapUiDocLightTable.columns-3 .cell {
	flex: 1 0;
}

/* 2 columns */
.sapUiMedia-StdExt-Tablet .sapUiDocLightTable.columns-2 .cell {
	flex: 1 0;
}

.sapUiMedia-StdExt-Phone .sapUiDocLightTable .head .cell:nth-child(1n + 2) {
	display: none;
}

.sapUiMedia-StdExt-Phone .sapUiDocLightTable .row .cell {
	flex: 1 100%;
}

.sapUiMedia-StdExt-Phone .sapUiDocLightTable:not(.columns-2) .cell .inTitle {
	display: block;
	font-size: 0.875rem;
	color: #666666;
}

.sapUiMedia-StdExt-Tablet .sapUiDocLightTable .head .cell:last-child {
	display: none;
}

.sapUiMedia-StdExt-Tablet .sapUiDocLightTable .row .cell:last-child {
	flex: 1 100%;
}

/* Look */
.sapUiMedia-Std-Desktop .sapUiDocLightTable {
	display: table;
	width: 100%;
	border-collapse: collapse;
}

.sapUiMedia-Std-Desktop .sapUiDocLightTable .row,
.sapUiMedia-Std-Desktop .sapUiDocLightTable .head {
	display: table-row;
}

.sapUiMedia-Std-Desktop .sapUiDocLightTable .cell {
	display: table-cell;
}

.sapUiMedia-Std-Desktop .sapUiDocLightTable.sapUiDocumentationParamsTable,
.sapUiMedia-Std-Desktop .sapUiDocLightTable.columns-3,
.sapUiMedia-Std-Desktop .sapUiDocLightTable.columns-2:not(.sapUiDocumentation2ColumnsEqualTable) {
	table-layout: fixed;
}

.sapUiMedia-Std-Desktop .sapUiDocLightTable.sapUiDocumentationParamsTable .cell:last-child,
.sapUiMedia-Std-Desktop .sapUiDocLightTable.sapUiDocumentation2ColumnsEqualTable .cell:last-child,
.sapUiMedia-Std-Desktop .sapUiDocLightTable.sapUiDocumentationSpecialSettingsTable .cell:last-child {
	width: 50%;
}

.sapUiMedia-Std-Desktop .sapUiDocLightTable.columns-2:not(.sapUiDocumentation2ColumnsEqualTable) .cell:last-child {
	width: 70%
}

.sapUiDocLightTable .row .cell:last-child {
	word-wrap: break-word;
}

.sapUiDocLightTable .head .cell,
.sapUiDocLightTable .cell div {
	line-height: 1.4rem;
	font-size: 0.875rem;
}

.sapUiDocLightTable .inTitle {
	display: none;
}

.sapUiDocLightTable .cell {
	padding: 0.5rem;
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 6rem;
}

.sapUiDocLightTable .cell:first-child,
.sapUiMedia-StdExt-Phone .sapUiDocLightTable .cell,
.sapUiMedia-StdExt-Tablet .sapUiDocLightTable .cell {
	padding-left: 16px;
}

.sapUiDocLightTable .sapUiJSD p {
    margin: 0;
}

.sapUiDocLightTable .head {
	background-color: #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	border-left: solid 1px #e5e5e5;
	border-right: solid 1px #e5e5e5;
}

.sapUiDocLightTable .row {
	background-color: #ffffff;
	border-bottom: solid 1px #e5e5e5;
	border-left: solid 1px #e5e5e5;
	border-right: solid 1px #e5e5e5;
}

.sapUiTheme-sap_belize_hcb .sapUiDocLightTable .head,
.sapUiTheme-sap_belize_hcb .sapUiDocLightTable .row {
	background-color: #000000;
	border-bottom: solid 1px #ffffff;
	border-left: solid 1px #ffffff;
	border-right: solid 1px #ffffff;
}

.sapUiTheme-sap_belize_hcb .sapUiDocLightTable .head {
	border-top: 1px solid #ffffff;
	border-bottom: 0.125rem solid #ffffff;
}

.sapUiTheme-sap_belize_hcw .sapUiDocLightTable .head,
.sapUiTheme-sap_belize_hcw .sapUiDocLightTable .row {
	background-color: #ffffff;
	border-bottom: solid 1px #000000;
	border-left: solid 1px #000000;
	border-right: solid 1px #000000;
}

.sapUiTheme-sap_belize_hcw .sapUiDocLightTable .head {
	border-top: 1px solid #000000;
	border-bottom: 0.125rem solid #000000;
}

/*
 * End of DemokitLightTable CSS
 */

/*
* Start of DemokitTreeItem CSS
*/

.sapDemokitTreeItem > .sapMLIBContent {
	display: block;
	overflow: hidden;
	word-break: break-word;
}

.sapDemokitTreeItemTitle {
	color: #fff;
}

.sapDemokitTreeItemLabel,
.sapDemokitTreeItemTitle {
	display: inline-block;
}

.sapDemokitTreeItemLabel {
	font-size: 0.75rem;
	color: #d3d7d9;
}

.sapUiTheme-sap_belize_hcw .sapDemokitTreeItemLabel {
	color: #000;
}

.sapUiTheme-sap_belize_hcb .sapDemokitTreeItemLabel {
	color: #fff;
}

/*
* End of DemokitTreeItem CSS
*/

/* Special list */
.specialListsMessageStrip {
	width: calc(100% - 2rem);
}

/* Avoiding unwanted scroll bar of the sapMMsgStripMessage */
.specialListsMessageStrip > .sapMMsgStripMessage {
	max-height: none;
}

/* Avoiding unwanted lower layout of the sapMLnk */
.specialListsMessageStrip > .sapMMsgStripMessage > .sapMFT > .sapMLnk {
	vertical-align: inherit;
}

.sapUiMedia-Std-Desktop .specialListsMessageStrip,
.sapUiMedia-StdExt-LargeDesktop .specialListsMessageStrip {
	width: calc(100% - 3rem);
}

.specialListFeedItem p:first-child {
	display: inline;
}

.specialListFeedItem p {
	margin: 0.5rem 0;
}

/* External links disclaimer */
.sapUISDKExternalLink {
	cursor: pointer;
	width: 1rem;
	margin-left: -0.25rem;
}
.sapUIDisclaimerLink img:first-child {
	margin-left: 0.8rem;
}
.sapUIDisclaimerLink :first-child {
	display: inline;
}
.sapUiDisclaimerCommunityLink {

	margin-top: 1.5rem;
	margin-left: -0.125rem;
}

/* Fixes size of welcome and landing images on landscape mode, phone mobile device */

@media (orientation: landscape) {
	.sap-phone .sapUiDemokit .welcomeImage {
		position: absolute;
		height: 100%;
	}

	.sap-phone .sapUiDemokit .sapUiDemokitLandingImageCell {
		position: relative;
	}

	.sap-phone .sapUiDemokit .landingImage {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	.sap-phone .sapUiDemokit .sapUiDemokitLandingImageCell:not(.welcomeImageCell):before {
		content: '';
		display: block;
		float: left;
		padding-top: 24.6%;
	}

	.sap-phone .sapUiDemokit .sapUiBlockCellContent .sapMText.sapUiDocumentationApiHeaderTitleText {
		top: 1.25rem;
		font-size: 1.625rem;
		padding-left: 1rem;
	}
}

/* API Ref Tree - start */
.sapDemokitTreeItem > .sapMLIBContent {
	white-space: nowrap;
}

.sapUiDemoKitTreeItemIcon {
	font-size: 12px;
	font-weight: bold;
	margin-right: 4px;
	border-radius: 13px;
	width: 13px;
	height: 13px;
	display: inline-block;
	padding-left: 2px;
	box-sizing: border-box;
	border: none;
	background: #FFFFFF;
	color: #346187;
}

/* Symbol type specific classes - constructed as follows sapUiDemoKitTreeItem(Abbreviation of the symbol type) */
.sapUiDemoKitTreeItemE {
	padding-left: 3px;
}

.sapUiDemoKitTreeItemI {
	padding-left: 5px;
}

.sapUiDemoKitTreeItemF {
	padding-left: 3px;
}

.sapUiDemoKitTreeItemT {
	padding-left: 3px;
}

/* API Ref Tree - end */

/* SAP Quartz Light theme - begin */
.sapUiTheme-sap_fiori_3 .sapDemokitTreeItemTitle {
	color: #32363a;
}

.sapUiTheme-sap_fiori_3 .sapUiDocLightTable .head {
	background-color: #f2f2f2;
}

.sapUiTheme-sap_fiori_3 .sapUiDocLightTable .head,
.sapUiTheme-sap_fiori_3 .sapUiDocLightTable .row {
	border-style: solid;
	border-color: #ededed;
	border-width: 0 1px 1px 1px;
}

.sapUiTheme-sap_fiori_3 .sapUiDemoKitTreeItemIcon {
	background: #346187;
	color: #FFFFFF;
}

.sapUiTheme-sap_fiori_3 .sapDemokitTreeItemLabel {
	color: #6a6d70;
}

.sapUiTheme-sap_fiori_3 .sapUiDemokit .sapUiHomePage {
	background: #ffffff;
}

.sapUiTheme-sap_fiori_3 .sapUiDemokit .sapUiHomePage .sapMTitleStyleH1,
.sapUiTheme-sap_fiori_3 .sapUiDemokit .sapUiDemoApps .sapMTitleStyleH1 {
	font-size: 1.625rem;
}

.sapUiTheme-sap_fiori_3 .sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect,
.sapUiTheme-sap_fiori_3 .sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect:hover,
.sapUiTheme-sap_fiori_3 .sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect .sapMSltArrow,
.sapUiTheme-sap_fiori_3 .sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect .sapMSelectListItemText {
	background: #354a5f;
	color: #d1e8ff;
}

.sapUiTheme-sap_fiori_3 .sapTntToolHeader .sapMSlt.menuSelect.sapUiDocumentationSelect .sapMSltLabel:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0.5rem;
	right: 2.5rem;
	padding-right: 1rem;
	border-bottom: 0.188rem solid #d1e8ff;
	border-radius: 0.125rem 0.125rem 0 0;
}

/* SAP Quartz Light theme - end */